In [31]:
import ujson
import pandas as pd
import pprint
import os

In [72]:
def get_files_to_process(path): 
    to_process = []
    for root, dirs, files in os.walk(path):
        for file in files:
            to_process.append(os.path.join(root, file))
    return to_process

In [76]:
files_startheworld = get_files_to_process('user_data/startheworld/')
files_4148 = get_files_to_process('user_data/4148/')

In [54]:
frames = []
# ignore the first 5 that are the globbed downloads
for file in to_process[5::]:
    with open(file) as f:
        for line in f:
            json_data = ujson.loads(line)
            frames.append(pd.DataFrame.from_dict(json_data['starredRepos']))
        f.close()

In [55]:
 for file in to_process[0:5]:
    with open(file) as f:
        for line in f:
            json_data = ujson.loads(line)
            frames.append(pd.DataFrame.from_dict(json_data["starredRepos"]))
        f.close()

In [77]:
for file in files_4148:
    with open(file) as f:
        for line in f:
            json_data = ujson.loads(line)
            frames.append(pd.DataFrame.from_dict(json_data["starredRepos"]))
        f.close()

In [78]:
startheworld_df = pd.concat(frames)

In [81]:
print('total lines: ' + str(len(startheworld_df)))
startheworld_df.head()

total lines: 205593

,created_at,fork,forks,forks_count,full_name,language,name,open_issues,open_issues_count,owner,pushed_at,size,stargazers_count,starred_at,updated_at,watchers,watchers_count
0,2015-02-27T18:56:28Z,False,53,53,fisshy/react-scroll,JavaScript,react-scroll,12,12,fisshy,2016-02-16T07:23:19Z,117,137,2016-02-16T04:04:32Z,2016-02-16T09:44:26Z,137,137
1,2014-10-29T00:54:54Z,False,15,15,firebase/firebase-queue,JavaScript,firebase-queue,10,10,firebase,2016-01-13T00:56:52Z,204,182,2016-02-16T04:04:31Z,2016-02-16T04:04:31Z,182,182
2,2015-08-06T12:26:57Z,False,22,22,EverythingMe/easy-content-providers,Java,easy-content-providers,1,1,EverythingMe,2015-08-21T20:17:03Z,3237,102,2016-02-16T04:04:31Z,2016-02-16T04:04:31Z,102,102
3,2013-12-24T02:40:05Z,False,148,148,ethereum/pyethereum,Python,pyethereum,53,53,ethereum,2016-02-15T23:38:15Z,5543,420,2016-02-16T04:04:30Z,2016-02-16T11:18:23Z,420,420
4,2013-06-21T19:44:59Z,False,30,30,erikrose/peep,Python,peep,19,19,erikrose,2016-02-12T11:56:01Z,383,230,2016-02-16T04:04:29Z,2016-02-16T10:59:07Z,230,230

In [106]:
analysis_df = startheworld_df[['created_at', 
                 'forks_count', 
                 'full_name', 
                 'language', 
                 'name', 
                 'open_issues_count', 
                 'owner',
                 'pushed_at',
                 'size',
                 'stargazers_count',
                 'updated_at',
                 'watchers_count'
                ]]
analysis_df.head()

,created_at,forks_count,full_name,language,name,open_issues_count,owner,pushed_at,size,stargazers_count,updated_at,watchers_count
0,2015-02-27T18:56:28Z,53,fisshy/react-scroll,JavaScript,react-scroll,12,fisshy,2016-02-16T07:23:19Z,117,137,2016-02-16T09:44:26Z,137
1,2014-10-29T00:54:54Z,15,firebase/firebase-queue,JavaScript,firebase-queue,10,firebase,2016-01-13T00:56:52Z,204,182,2016-02-16T04:04:31Z,182
2,2015-08-06T12:26:57Z,22,EverythingMe/easy-content-providers,Java,easy-content-providers,1,EverythingMe,2015-08-21T20:17:03Z,3237,102,2016-02-16T04:04:31Z,102
3,2013-12-24T02:40:05Z,148,ethereum/pyethereum,Python,pyethereum,53,ethereum,2016-02-15T23:38:15Z,5543,420,2016-02-16T11:18:23Z,420
4,2013-06-21T19:44:59Z,30,erikrose/peep,Python,peep,19,erikrose,2016-02-12T11:56:01Z,383,230,2016-02-16T10:59:07Z,230

In [110]:
print(analysis_df.info())
print(analysis_df.memory_usage())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205593 entries, 0 to 99
Data columns (total 12 columns):
created_at           205593 non-null datetime64[ns]
forks_count          205593 non-null int64
full_name            205593 non-null object
language             189278 non-null object
name                 205593 non-null object
open_issues_count    205593 non-null int64
owner                205593 non-null object
pushed_at            205411 non-null object
size                 205593 non-null int64
stargazers_count     205593 non-null int64
updated_at           205593 non-null object
watchers_count       205593 non-null int64
dtypes: datetime64[ns](1), int64(5), object(6)
memory usage: 20.4+ MB
None
created_at           1644744
forks_count          1644744
full_name            1644744
language             1644744
name                 1644744
open_issues_count    1644744
owner                1644744
pushed_at            1644744
size                 1644744
stargazers_count     1644744
updated_at           1644744
watchers_count       1644744
dtype: int64

In [111]:
# gives a false positive warning
analysis_df['created_at'] = pd.to_datetime(analysis_df['created_at'])
analysis_df['updated_at'] = pd.to_datetime(analysis_df['updated_at'])
analysis_df['pushed_at'] = pd.to_datetime(analysis_df['pushed_at'])

analysis_df.head()

/Users/devin/anaconda/envs/py3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/devin/anaconda/envs/py3/lib/python3.4/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/devin/anaconda/envs/py3/lib/python3.4/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,created_at,forks_count,full_name,language,name,open_issues_count,owner,pushed_at,size,stargazers_count,updated_at,watchers_count
0,2015-02-27 18:56:28,53,fisshy/react-scroll,JavaScript,react-scroll,12,fisshy,2016-02-16 07:23:19,117,137,2016-02-16 09:44:26,137
1,2014-10-29 00:54:54,15,firebase/firebase-queue,JavaScript,firebase-queue,10,firebase,2016-01-13 00:56:52,204,182,2016-02-16 04:04:31,182
2,2015-08-06 12:26:57,22,EverythingMe/easy-content-providers,Java,easy-content-providers,1,EverythingMe,2015-08-21 20:17:03,3237,102,2016-02-16 04:04:31,102
3,2013-12-24 02:40:05,148,ethereum/pyethereum,Python,pyethereum,53,ethereum,2016-02-15 23:38:15,5543,420,2016-02-16 11:18:23,420
4,2013-06-21 19:44:59,30,erikrose/peep,Python,peep,19,erikrose,2016-02-12 11:56:01,383,230,2016-02-16 10:59:07,230

In [85]:
lang_groups = analysis_df.drop_duplicates(subset="full_name").groupby('language').size().sort_values(ascending=False)

In [95]:
lang_groups[lang_groups > 100]

language
JavaScript          40855
Ruby                22048
Python              15675
Java                12223
PHP                  9878
Objective-C          7710
C                    7546
C++                  6117
CSS                  5449
HTML                 4854
Go                   4852
Shell                4309
C#                   2739
CoffeeScript         1935
Swift                1916
Perl                 1899
VimL                 1748
Clojure              1544
Scala                1422
Haskell              1390
Emacs Lisp            961
Erlang                747
R                     711
Rust                  663
Lua                   635
OCaml                 417
TeX                   378
Elixir                335
Makefile              313
ActionScript          288
TypeScript            252
Groovy                227
Common Lisp           219
Puppet                181
Matlab                177
Assembly              177
D                     176
Scheme                137
Jupyter Notebook      127
Arduino               124
PowerShell            122
Apex                  117
Dart                  103
dtype: int64

### which repositories have been updated this year

In [132]:
pushed_at_2016 = analysis_df[analysis_df['pushed_at'] > pd.to_datetime('2016-01-01')]
pushed_at_last_three_months = analysis_df[analysis_df['pushed_at'] > pd.to_datetime('2015-11-01')]

updated_2016 = analysis_df[analysis_df['updated_at'] > pd.to_datetime('2016-01-01')]

updated_last_six_months = analysis_df[analysis_df['updated_at'] > pd.to_datetime('2015-07-01')]

In [133]:
print(len(pushed_at_2016))
print(len(pushed_at_last_three_months))
print(len(updated_2016))
print(len(updated_last_six_months))

55323
74727
107773
201506

In [136]:
pushed_at_2016.to_csv('output/pushed-at-2016.csv')